!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=UTF-8"}
    %title= @page_title || "Магазин одежды для той-терьеров"
    = javascript_include_tag :all
    = stylesheet_link_tag "style1"
    %script(type="text/javascript")
      $(function() { $("#accordion").accordion(); });      
            
  

  %body
    = debug(assigns)
    = debug(params)
    %h2= "#{@page_title}" if @page_title

    .demo
      #accordion
        %h3
          %a(href="#")
            Section 1
        %div
          %p Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque
        %h3
          %a(href="#")
            Section 2
        %div
          %p Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus
        %h3
          %a(href="#")
            Section 3
        %div
          %p Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.   
          


    - if controller.controller_name == "catalog_items" and controller.action_name == "index"
      #categories
        %table
          = render :partial => 'catalog_items/category', :collection => Category.all
          %td= link_to "Все товары", catalog_items_path

    #content
      - if flash[:notice]
        #notice 
          %p(style="color: green")= flash[:notice]
      = yield :layout

    - if @cart and (controller.action_name != "show")
      #shopping_cart
        = render :partial => "carts/cart_notice"  if flash[:cart_notice]
        = render :partial => "carts/cart"
   