.ui-widget-content.catalog_item[ catalog_item ]
  .thumbs.yoxview= render :partial => "shared/photo", :collection => catalog_item.photos 
  - remote_form_for catalog_item, :url => cart_item_path( catalog_item ) do   
    %h4
      = link_to_show catalog_item
      %div
        = roubles( catalog_item.price ) + " " + RUB
        = submit_to Cart
    - [ "size", "colour" ].each do |attr| 
      %div{ :class => attr.tableize }
        = render :partial => "catalog_items/attr_with_any", :locals => { :object => catalog_item, :attr => attr }
  .blurb= catalog_item.blurb
= set_draggable catalog_item
      