%h2
  = link_to_back @object
  = @object.name
- form_remote_tag :url => cart_item_path(@object), :html => { :class => "ui-widget-content" }, :method => :put do 
  %b Цена:
  = roubles( @object.price ) + RUB
  %b= Category.class_name_rus_cap.colon
  = @object.category.name
  %b= Season.class_name_rus_cap.colon
  = @object.type.constantize.season_name
  = image_submit_tag *Cart.add_image_with_options  
  %br
  - [ "size", "colour" ].each do |attr|
    %b= attr.capitalize.constantize.class_name_rus_cap.pluralize.colon
    = render :partial => "catalog_items/attr_with_any", :locals => { :object => @object, :attr => attr }    
  = @object.blurb
  .photos= render :partial => "photo", :collection => @object.photos
  .clear