- form_for @item, :html => { :multipart => true, :class => "ui-widget-content ui-corner-all shadow" } do |f|
  = f.error_messages
  
  %label{ :for => "item_name" } Название:
  %span(style="color: red") * 
  = f.text_field :name
  
  %label{ :for => "item_price" } Цена:
  %span(style="color: red") * 
  = f.text_field :price
  %br
        
  %label{ :for => "item_category_id" } Вид:
  %span(style="color: red") * 
  = f.collection_select :category_id, Category.find( :all, :order => "name" ), :id, :name, :include_blank => true
  
  %label{ :for => "item_season_id" } Сезон:
  %span(style="color: red") * 
  = f.collection_select :season_id, Season.find( :all, :order => "name" ), :id, :name, :include_blank => true
  
  %label{ :for => "item_size_ids" } Размеры:
  = select_tag 'item[size_ids]',	options_from_collection_for_select(Size.all, :id, :name, @item.size_ids), { :multiple => true, :size => 7 }
  
  %label{ :for => "item_colour_ids" } Цвета:
  = select_tag 'item[colour_ids]',	options_from_collection_for_select(Colour.all, :id, :name, @item.colour_ids), { :multiple => true, :size => 7 }
  
  %label{ :for => "item_blurb" }
  = f.textile_editor :blurb, :rows => 5
  = textile_editor_initialize(:framework => :jquery)
  
  = add_photo_link image_tag("image_add.png", :title => "Добавить фотографию") 
  = image_submit_tag "document-save.png", :title => "Сохранить изменения"
  #photos
    = render :partial => 'photo', :collection => @item.photos
  

  