- form_for @item, :html => { :multipart => true }, :html => { :class => "ui-widget-content ui-corner-all" } do |f|
  = f.error_messages
  %span
    %label{ :for => "name" }
      Название:
      %span{ :style => "color: red" } * 
    = f.text_field :name
  %span
    %label(for="category_id")
      Вид одежды:
      %span(style="color: red") * 
    = f.collection_select :category_id, Category.find( :all, :order => "name" ), :id, :name_with_season, :include_blank => true
  %span
    %label(for="price")
      Цена, руб.:
      %span(style="color: red") * 
    = f.text_field :price, :size => 5
  %br
  %span
    %label(for="size_ids") Размеры:
    = select_tag 'item[size_ids]',	options_from_collection_for_select(Size.all, :id, :name, @item.size_ids), { :multiple => true, :size => 7 }
  %span
    %label(for="colour_ids") Цвета:
    = select_tag 'item[colour_ids]',	options_from_collection_for_select(Colour.all, :id, :name, @item.colour_ids), { :multiple => true, :size => 7 }
  %span
    %label(for="blurb") Описание:
    = f.textile_area :blurb, :rows => 5
  %br
  
  #photos
    = render :partial => 'photo', :collection => @item.photos
    
  = add_photo_link image_tag("image_add.png")
  = image_submit_tag "document-save.png"

  