%h3 Список товаров
%table.ui-widget-content.ui-corner-all.align_left
  %tr
    %th= link_to_remote "Название", :url => items_path(:sort_by => "name"), :method => :get 
    %th Размер
    %th Цвет
    %th= link_to_remote "Вид", :url => items_path(:sort_by => "category_id"), :method => :get
    %th= link_to_remote "Цена, руб.", :url => items_path(:sort_by => "price"), :method => :get
  = render :partial => 'item', :collection => @items
= will_paginate @items
%br
= link_to_remote 'Новый товар', :url => new_item_path, :update => "item_content", :method => :get
%br
%br
  
#item_content