- remote_form_for photo do |f|
  = f.error_messages
  %span.yoxview= link_to_show_photo photo, false
  = link_to_delete photo
  = f.text_area :comment, :rows => 2, :class => "photo_comment" 
  = image_submit_tag Photo.save_image, :title => Photo.save_comments_title
  = link_to_add_to_item photo          