%h2= index_page_title_for ForumPost
%fieldset#forum.ui-widget-content
  = link_to_new ForumPost
  = ForumPost.no_forum_posts_text if @objects.empty?
  #posts= render :partial => 'forum_post', :collection => @objects
  = will_paginate @objects
#post
#post_new
 