- remote_form_for colour do |f|
  = f.error_messages
  = f.text_field :name
  = f.text_field :html_code
  = link_to_function image_tag( *Colour.add_html_code_to_colour_image_with_title ), Colour.add_html_code_to_colour_js_string
  = content_tag :input, "", :type => "color", :hex => true, :value => "#ffffff"
  = submit_to Colour
  - unless colour.new_record?
    = render_attrs colour
    = link_to_delete colour
    = link_to_add_to_item colour
