!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=UTF-8"}
    %title= ADMIN_TITLE
    
    = javascript_include_tag items_javascripts
    = stylesheet_link_tag items_stylesheets
      
  %body
    #header
      %h2 Администрирование магазина BEST&C
      
    #tabs.ui-tabs
      %ul.ui-tabs-nav.ui-widget-header.ui-helper-clearfix
        %li.ui-state-default
          = link_to_index Order
        %li.ui-state-default
          = link_to_index Item            
        %li.ui-state-default
          = link_to_index Contact            
        %li.ui-state-default
          = link_to_index_local CatalogItem            
        %li.ui-state-default
          = link_to_logout User
    
    #content{ :style => "margin-left: 10px;" }
      = yield

    %iframe#upload_frame{ :name => "upload_frame" }
          